
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(back-opac-down)
  0%
    background: rgba(0,0,0,1)
  100%
    background: rgba(0,0,0,0.5)

+keyframes(opac-down)
  0%
    opacity: 1
    z-index: 100
  100%
    opacity: 0
    z-index: -1

+keyframes(opac-up)
  0%
    opacity: 0
    z-index: -1
  100%
    opacity: 1
    z-index: 100

+keyframes(width-down)
  0%
    width: initial
  100%
    width: 0
+keyframes(color-change)
  0%
    background: rgba(0, 0, 0, 0.5)
  100%
    background: rgba(255, 255, 255, 0.5)
