.my-button
  cursor: pointer
  &.def-button
    padding: 10px
    background: #ffffff
    outline: none
    border: none
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19)
    &:hover
      opacity: 0.6

