@import "./values"
.checkbox
  vertical-align: top
  margin: 0 3px 0 0
  width: 17px
  height: 17px

.checkbox + label
  cursor: pointer

.checkbox:not(checked)
  position: absolute
  opacity: 0

.checkbox:not(checked) + label
  position: relative
  //padding: 0 0 0 60px

.checkbox:not(checked) + label:before
  content: ''
  position: absolute
  top: -4px
  left: 0
  width: 41px
  height: 26px
  border-radius: 13px
  background: $grey0
  transition: all .2s

.checkbox:not(checked) + label:after
  content: ''
  position: absolute
  top: -4px
  left: 0
  width: 26px
  height: 26px
  border-radius: 50%
  background-color: $reset
  transition: all .2s

.checkbox:checked + label:before
  background: $primary

.checkbox:checked + label:after
  left: 16px
  background: #FFF


.checkbox:focus + label:before
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0)
