@import "values"
.table-tool
  &:before
    content: ""
    display: table
    clear: both

.el-tooltip
  cursor: pointer
  position: relative
  display: inline-block
  transition: opacity .6s
  text-align: center

  &:hover
    .span-hover
      visibility: visible
      transform: scale(1)
  .span-hover
    transform-origin: bottom
    display: inline-table
    transform: scale(0)
    visibility: hidden
    width: 100%
    background-color: rgba(0, 0, 0, 0.6)
    color: #fff
    text-align: center
    border-radius: 6px
    padding: 5px 0
    position: absolute
    z-index: 1
    &.span-hover-top
      bottom: 125%
      left: 0
      span
        margin: 5px
        display: inline-block
    &:after
      content: ""
      position: absolute
      top: 100%
      left: 50%
      margin-left: -5px
      border-width: 5px
      border-style: solid
      border-color: #555 transparent transparent transparent
//add-button
.add-btn
  cursor: pointer
  position: absolute
  bottom: 30px
  right: 30px
  height: 56px
  width: 56px
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16)
  background-color: $btn-color
  color: $white
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  transition: background-color .5s, box-shadow .5s
  &.disabled
    background: lightgray
    cursor: default
    &:hover
      background-color: lightgray
      box-shadow: none
  .span-hover
    z-index: 1
    position: absolute
    opacity: 0
    top: -50%
    //right: 66px
    transform: translateY(-50%)
    //width: 90px
    padding: 2px
    text-align: center
    display: flex
    border-radius: 2px
    background-color: rgba(0, 0, 0, 0.6)
    transition: opacity .5s, visibility 0s linear .5s
    visibility: hidden
    justify-content: center
    align-items: center
    pointer-events: none
    span
      opacity: 0.8
      color: $white
      font-size: 10px
  &:hover
    background-color: $primary
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16)
    .span-hover
      opacity: 1
      visibility: visible
      transition: opacity .5s, visibility 0s

// form
.item-form
 .input-wrap
   width: 100%
   position: relative
   label
     position: absolute
     right: 0
     font-size: 12px
     bottom: -18px
     color: $error
     opacity: 0
     transition: opacity .5s
   input
     margin-top: 20px
     width: 100%
     height: 40px
     border-bottom: 1px solid $input-color
     //color: $input-color
     font-size: 16px
     transition: border-bottom .5s, color .5s
     &:focus
       color: $primary-text
       border-bottom: 1px solid $primary-text
     &::-webkit-input-placeholder
       color: $input-color
     &::-moz-placeholder
       color: $input-color
     &:-ms-input-placeholder
       color: $input-color
     &:-moz-placeholder
       color: $input-color
   .input-error
     color: $primary-text
     border-bottom: 1px solid $error!important
   .no-changable
     &:focus
       color: $reset
       border-bottom: 1px solid $reset

//user photo
.item-photo
  .photo
    width: 120px
    height: 120px
    border-radius: 50%
    background: no-repeat
    background-position: 50% 50%
    background-size: cover
    background-color: $bottom-bor
    display: flex
    justify-content: center
    align-items: center
    input[type="file"]
      display: none
    i
      font-size: 38px
      color: $deactive
      cursor: inherit
  .photo-ctrl
    width: 100%
    margin-top: 20px
    font-size: 16px
    color: $reset
    display: flex
    justify-content: center
    span
      margin-left: 15px
    input
      display: none
    span, label
      cursor: pointer
      &:hover
        color: $btn-color
  .photo-info
    display: block
    text-align: center
    font-size: 12px
    color: $grey
  label
    cursor: pointer

//true button
.true-btn
  text-transform: uppercase
  cursor: pointer
  font-size: 16px
  color: $btn-color
  font-weight: 500
  transition: opacity .5s
  &:hover
    opacity: 0.6
//false button
.false-btn
  text-transform: uppercase
  cursor: pointer
  font-size: 16px
  color: $reset
  font-weight: 500
  transition: opacity .5s
  &:hover
    opacity: 0.6

//publish-btn
.publish-btn
  height: 40px
  width: 170px
  margin: 0 30px
  cursor: pointer
  border-radius: 2px
  background-color: $primary-text
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
  display: flex
  justify-content: center
  align-items: center
  span
    color: $white
  &:hover
    opacity: 0.85
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15)

.publish-btn-active
  height: 36px
  width: 153px
  border-radius: 1.8px
  opacity: 0.85

.publish-btn-disable
  background-color: $bottom-bor
  span
    color: $grey

//pop up
.pop-up-icon
  position: relative
  width: 30px
  height: 30px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center

.pop-up-icon-active
  background-color: $bottom-bor

.pop-up
  // add width height position
  background-color: $white
  padding: 10px 0
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16)
  border-radius: 2px
  display: flex
  flex-direction: column
  justify-content: flex-start
  color: $primary-text
  .pop-up-item
    width: 100%
    height: 40px
    padding: 10px 20px
    display: flex
    align-items: center
    cursor: pointer
    i
      font-size: 20px
      margin-right: 19px
    .pop-up-row-name
      width: 100%
      display: flex
      justify-content: space-between
      span
        line-height: 0.8
      .pop-up-num
        color: $grey
    &:hover
      background-color: rgba(0, 158, 158, 0.1)

//"add new" block
.add-new
  height: 100vh
  width: 100%
  position: absolute
  z-index: 1000
  top: -92px
  left: 0
  .block-bg
    height: 100%
    width: 100%
    opacity: 0.2
    background-color: $black
  .new-form
    position: absolute
    z-index: 10
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: flex
    flex-direction: column
    padding: 30px
    background-color: $white
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19)
    .tag-text
      font-size: 18px
      color: $tag-text
    .main-info
      width: 100%
      display: flex

.new-btns
  width: 100%
  display: flex
  justify-content: flex-end
  .true-btn
    margin-left: 30px








