@import "./animations"
@import "./buttons"

$text-color-gray: #7E7E7E
$white: #ffffff
$black: #000000
$error: #ff0000
$primary: #009E9E //was #1976D2
$primary0: #009E9E //was #1E88E5
$primary-text: #4D4D4E
$logo-text: #181818
$tag-text: #444444
$btn-color: #028282
$btn-color1: #028282 //was #00b7e5
$border-active-color: #009E9E //was #77BBFF
$input-color: #CACACA
$grey: #9B9B9B
$grey0: #D8D8D8
$bottom-bor: #EBEBEB
$deactive: #D6D5D5
$orange: $btn-color
$orange-hover: $primary
$reset: #4A4A4A
$border-color: #EBEBEB
$back-alter: rgba(128, 128, 128, 0.1)
$back-color1: #fdfdfd

.webgl-view
  .canvas-container, .img-slider-container
    transition: none

.pos-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.hidden
  display: none !important

.full-op
  opacity: 1 !important

.curs-dis
  pointer-events: none

.col-exlg-1
  @media screen and (min-width: 1600px)
    width: 8.3333%

.col-exlg-2
  @media screen and (min-width: 1600px)
    width: 16.6666%

.col-exlg-3
  @media screen and (min-width: 1600px)
    width: 25%

.col-exlg-4
  @media screen and (min-width: 1600px)
    width: 33.3333%

.col-exlg-5
  @media screen and (min-width: 1600px)
    width: 41.6666%

.col-exlg-6
  @media screen and (min-width: 1600px)
    width: 50%

.col-exlg-7
  @media screen and (min-width: 1600px)
    width: 58.3333%

.col-exlg-8
  @media screen and (min-width: 1600px)
    width: 66.6666%

.col-exlg-9
  @media screen and (min-width: 1600px)
    width: 75%

.col-exlg-10
  @media screen and (min-width: 1600px)
    width: 83.3333%

.col-exlg-11
  @media screen and (min-width: 1600px)
    width: 91.66666%

.col-exlg-12
  @media screen and (min-width: 1600px)
    width: 100%

