<main>
    <div class="projects-wrap">
        <div class="projects-list  row">
            <app-project-view class="project-wrap col-xs-12 col-sm-6 col-lg-4 col-exlg-3" *ngFor="let project of User.projects | namefilter: header.searchName: header.sortType" [project]="project" ></app-project-view>
        </div>
    </div>


    <div class="add-btn" (click)="createNewProject = true" [hidden]="createNewProject">
        <i class="material-icons">add</i>
        <div class="span-hover">
            <span>Add a new project</span>
        </div>
    </div>
</main>

<app-new-project class="add-new" [(openedState)]="createNewProject" [title]="'Create a new project:'" *ngIf="createNewProject"></app-new-project>