@import "../../../styles/values"
.auto-scale
  transform: scale(1)
.preloader-back
  position: absolute
  z-index: 999
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,1)
  transition: background-color 2s linear
  &.active
    background-color: rgba(0,0,0,0.5)
  .preview
    filter: blur(20px)
    transition: filter 1s linear
    height: 100%
    &.active
      filter: blur(0px)
  .preloader-data
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    text-align: center
    .pre-progress-bar
      width: 240px
      border-radius: 4px
      height: 8px
      .pre-progress-status
        width: 0
        height: 100%
        border-radius: 4px

.tooltip-container

  .cos-info
    position: absolute
    z-index: 3
    display: none

    &.active
      display: block
    &.act
      &:after
        display: none
        content: ''
        position: absolute
        top: 100%
        margin-left: 9px
        margin-top: -25px
        background-size: 35px 25px
        background-color: rgba(0, 0, 0, 0)
        width: 0
        height: 0
        border-left: 20px solid transparent
        border-right: 20px solid transparent
        border-top: 20px solid $white
    &.tooltip-align-right
      &:after
        transform: rotate(90deg)
        margin-left: 18px
      .cos-tooltip
        transform-origin: left
        left: 150px
        top: -95px
    &.tooltip-align-bottom
      &:after
        transform: rotate(180deg)
        margin-top: -15px
      .cos-tooltip
        transform-origin: top
        left: 0
        top: 40px
    &.tooltip-align-left
      &:after
        transform: rotate(-90deg)
        margin-left: 0
      .cos-tooltip
        transform-origin: right
        left: -100px
        top: -95px
    hr
      padding: 0
      margin: 0 10px
      border-width: 2px
    .cos-tooltip,.cos-label
      position: absolute
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      color: #000
    .cos-label
      border-radius: 50%
      border: 3px solid #fff
      background: $primary
      padding: 0
      font-size: 28px
      color: white
      box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.38)
      width: 60px
      height: 60px
      text-align: center
      margin: auto
      display: block
      z-index: 1
      span
        display: initial
        //width: auto
        position: absolute
        left: 50%
        top: 50%
        -webkit-transform: translate(-50%,-50%)
        -ms-transform: translate(-50%,-50%)
        transform: translate(-50%,-50%)
        margin: auto
        vertical-align: middle
        //display: table-row
        width: 55px
        float: right
    .cos-tooltip
      width: 200px
      //height: 120px
      border-radius: 5px
      box-shadow: 0 15px 40px 0 rgba(0,0,0,0.15)
      background-color: #FFFFFF
      bottom: 0
      transform: translateX(-50%) scale(0)
      transition: transform 0.2s linear
      transform-origin: bottom
      &.active
        //display: block
        transform: translateX(-50%) scale(1)
      .cos-tooltip-header
        overflow: hidden
        text-overflow: ellipsis
        padding: 10px 15px
        border-left: 2px solid $primary
        margin: 10px 0
      .cos-tooltip-body
        padding: 10px 15px
        //overflow: auto
        max-height: 50px
        text-overflow: ellipsis
        color: $grey
        font-size: 13px
        font-weight: 300
        line-height: 20px
        .cos-tooltip-body-title
          overflow: hidden
          text-overflow: ellipsis
          white-space: initial
          height: 100%
