<div class="pop-up-all" *ngIf="show">
    <div class="pop-up-back" (click)="cancel()"></div>
    <div class="pop-up-body">
        <h2>Generate node(s) for level: <span [innerText]="selectedChild.name"></span></h2>
        <form class="item-form" name="someform"  [formGroup]="generateNodeForm" autocomplete="off"  novalidate>
            <p><b>@id</b> - will replace with id of node;</p>
            <p><b>@name</b> - will replace with name of node;</p>
            <p ><label for="replaceNod"><b>Replace</b></label><input id="replaceNod" type="checkbox" [(ngModel)]="node.replace" [formControl]="generateNodeForm.controls.replace"> -<span><b> Warning</b>, also will remove all child for nodes</span></p>
            <p ><label for="removeExtra"><b>Remove</b></label><input  id="removeExtra" type="checkbox" [(ngModel)]="node.removeExtra" [formControl]="generateNodeForm.controls.removeExtra">-<span> If node exist in tree but doesn`t exist in scene</span></p>

            <div class="input-wrap">
                <div class="col-lg-12">
                    <select [(ngModel)]="node.type"  [formControl]="generateNodeForm.controls.type" (change)="updateForm()">
                        <option *ngFor="let item of resol.types" [value]="item.name" [innerText]="item.name"></option>
                    </select>
                </div>
            </div>
            <div class="input-wrap">
                <div class="inp-form col-lg-12">
                    <span>Node(s) Name</span>
                    <input  [formControl]="generateNodeForm.controls.name" type="text"
                           [(ngModel)]="node.name"  autofocus maxlength="120">
                    <label
                            [class.full-op]="generateNodeForm.get('name').hasError('required') && (  generateNodeForm.get('name').touched || generateNodeForm.submitted)">
                        The Node(s) Name is required!
                    </label>
                </div>
            </div>
            <div class="input-wrap" *ngIf="node.type !== resol.types[0].name">
                <div class="inp-form col-lg-12">
                    <span>Destionation</span>

                    <div *ngIf="node.type === resol.types[2].name">
                        <input  [formControl]="generateNodeForm.controls.destination"
                                [(ngModel)]="node.destination" maxlength="120">

                        <div *ngIf="generateNodeForm.get('destination').touched || generateNodeForm.submitted">
                            <label [class.full-op]="generateNodeForm.get('destination').hasError('required') ">
                                The url is required!</label>
                            <label [class.full-op]="generateNodeForm.get('destination').hasError('pattern') && !generateNodeForm.get('destination').hasError('minlength') ">
                                The Destionation must be an url!</label>
                            <label [class.full-op]="generateNodeForm.get('destination').hasError('minlength') && !generateNodeForm.get('destination').hasError('pattern') ">
                                The url must be no shorter 6 character</label>
                        </div>

                    </div>
                    <div *ngIf="node.type === resol.types[1].name">
                            <textarea rows="5" class="col-lg-12" [formControl]="generateNodeForm.controls.destination"
                                      [(ngModel)]="node.destination" maxlength="120" ></textarea>
                        <div *ngIf="generateNodeForm.get('destination').touched || generateNodeForm.submitted">
                            <label [class.full-op]="generateNodeForm.get('destination').hasError('required') ">
                                The JS Code is required!</label>
                            <label [class.full-op]="generateNodeForm.get('destination').hasError('minlength') ">
                                The JS Code must be no shorter 6 character</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="new-btns">
                <span class="false-btn" (click)="cancel()">cancel</span>
                <span class="true-btn" (click)="accept(generateNodeForm)">accept</span>
            </div>
        </form>

    </div>
</div>