.pop-up-all
  position: absolute
  top: 0
  left: 0
  z-index: 9999
  height: 100%
  width: 100%
  .pop-up-back
    height: 100%
    width: 100%
    opacity: 0.2
    background-color: #000000
    position: absolute
  input[type="checkbox"]
    margin: 0 5px
  .pop-up-body
    position: absolute
    z-index: 10
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    padding: 30px
    background-color: #ffffff
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19)
    .inp-form
      margin-bottom: 30px