@import "../../../styles/values"

app-header
  display: flex
  width: calc(100% - 70px)
  height: 90px
  padding: 0 30px
  align-items: center
  align-self: flex-end
  transition: margin .4s ease-in-out, width .4s ease-in-out
  .header-wrap
    width: 100%
    height: 100%
    padding: 0
    display: flex
    align-items: center
    .edit-proj-user
      display: -webkit-inline-box
    span
      white-space: nowrap
    .header-tag
      display: flex
      align-items: center
      font-size: 24px
      color: $tag-text
      line-height: 1
      i
        margin-right: 24px
      span
        font-size: 12px
        color: $btn-color
      .arr-info
        color: $grey
        margin-left: 10px
      .header-title-wrap
        display: flex
        flex-direction: column
        align-items:
        .header-title
          padding: 10px 0
    .header-main
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: flex-end
      .header-search
        display: flex
        height: 40px
        width: 100%
        min-width: 150px
        margin: 0 60px
        box-shadow: 0 1px 0 rgba(0,0,0,0.12)
        input
          width: 100%
          font-size: 16px
          &::-webkit-input-placeholder
            color: $primary-text
          &::-moz-placeholder
            color: $primary-text
          &:-ms-input-placeholder
            color: $primary-text
          &:-moz-placeholder
            color: $primary-text
      .header-sort
        height: 100%
        width: 270px
        display: flex
        justify-content: center
        align-items: center
        font-size: 15px
        .sort-select
          position: relative
          margin-left: 20px
          width: 184px
          height: 40px
          box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1)
          border-radius: 2px
          color: $grey
          transition: box-shadow .3s
          .sort-present
            width: 100%
            height: 100%
            display: flex
            align-items: center
            justify-content: space-between
            padding: 0 20px
            cursor: pointer
          .pop-up
            width: 184px
            position: absolute
            z-index: 200
            top: 45px
            .pop-up-item
              height: 30px
              padding: 5px 20px
              .sort-selected
                color: $bottom-bor
          &:hover
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1)
        .sort-active
          color: $primary-text
          i
            color: $primary
      .pop-up-icon
        height: 40px
        width: 40px
        .set-icon
          font-size: 29px
        .pop-up
          position: absolute
          z-index: 100
          right: 0
          top: 50px
          width: 200px
          height: 100px
      .header-main-mnu
        margin: 0 10px
        height: 100%
        display: flex
        .mnu-item
          height: 100%
          cursor: pointer
          display: flex
          justify-content: center
          align-items: center
          padding: 0 20px
          border-bottom: 3px solid transparent
          &:hover
            color: $primary
        .mnu-item-active
          color: $primary
          border-bottom-color: $primary
