@import "../../styles/values"

app-project-webgl-view
  display: flex
  width: 100%
  height: 100%

.webgl-view
  width: 100%
  height: 100%
  overflow: hidden
  transition: none
  align-items: center
  justify-content: center
  display: flex
  flex-direction: column
  *
    transition: none
  .proj_logo
    z-index: 1
  &.preview
    .center-container
      &.THREEJS
        max-width: 100vw
        height: 100%
        position: absolute
  .back-area
    position: absolute
    z-index: 1000000
    bottom: 10px
    right: 10px
    transform: translateX(-50%)
    width: 50px
    height: 50px
    background-size: contain
    background-repeat: no-repeat
    cursor: pointer
  .THREEJS
    .gl-view
      position: absolute
      top: 50%
      left: 50%
      -webkit-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      z-index: 2
      display: flex
    &.svg-active
      .gl-view
        display: none !important
  .img-pagination
    text-align: center
    //margin: auto
    padding: 10px 0
    z-index: 10
    position: relative
    left: 50%
    width: 100%
    transform: translateX(-50%)
    border-radius: 5px
    bottom: 0
    li
      display: inline-block
      background: $white
      color: #337ab7

      margin: 5px 0
      cursor: pointer
      transition: background, 0.5s
      z-index: 3
      padding: 6px 12px
      border-right: 1px solid #ddd
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
      &:last-child
        border-bottom-right-radius: 4px
        border-top-right-radius: 4px

      &:nth-child(1)
        border-bottom-left-radius: 4px
        border-top-left-radius: 4px
      &.active
        background: #337ab7
        color: white
        cursor: default
        &:hover
          background: #337ab7
          color: white
      &:hover
        background: #eee
        border-color: #ddd
        color: #23527c

  .kompass
    position: absolute
    left: 10px
    bottom: 10px
    width: 78px
    height: 78px
    background-size: contain
    background-repeat: no-repeat
  .oxi-controls-move
    position: absolute
    left: 50%
    transform: translate(-50%, 0%)
    bottom: 0
    z-index: 99
    div
      display: inline-block
      padding: 10px
      margin: 10px 30px
      cursor: pointer
      width: 42px
      background-size: contain
      &.right
        transform: rotate3d(0, 1, 0, 180deg)
      &:hover
        opacity: 0.7
  .oxi-controls
    width: 150px
    //display: none
    position: absolute
    transform: translate(-50%, -50%) scale(0)
    z-index: 4
    &.active
      display: block
      transform: translate(-50%, -50%) scale(1)
    div
      position: relative
      width: 50px
      height: 50px
      background: $black
      opacity: 0.5
      transition: transform, opacity 0.5s
      border-radius: 50%
      cursor: pointer
      display: flex
      z-index: -1
      .temp-tooltip
        background: white
        padding: 10px
        display: none
        position: absolute
        white-space: nowrap
        top: 100%
        left: 100%
        z-index: 999

      img
        fill: $white
        margin: auto
      &:hover
        z-index: 2
        .temp-tooltip
          display: block
        opacity: 1
        transform: scale(1.2)
      &:nth-child(1), &:nth-child(4)
        margin: auto
      &.attach-js
        right: 0
        position: absolute
        top: 33%
      &.toggle-ignore
        right: 33%
        position: absolute
        top: 33%
        display: flex
        align-items: center
        img
          width: 50%
  .center-container
    display: flex
    &.THREEJS
      //max-width: 70vw
      height: 100%
      margin: 0
      position: relative
      background: #9f9e9e
      left: 0
      top: 0
      transform: translate(0)
      text-align: center
      .tooltip-container
        .cos-info
          .cos-label
            display: inline-flex !important
      .gl-view
        //margin: auto
    &.img-slider-container
      z-index: -1
      transform: translate(-50%, -50%)

  .oxi-tooltips
    position: absolute
    top: 0
    left: 0
    .tooltip
      display: none
      opacity: 1
      position: absolute
      transform: translate(-50%, -50%)
      cursor: pointer
      background: $white

      .header
        text-transform: uppercase
        padding: 10px 5px
      .body
        display: none
      &.active
        display: block
