<div class="webgl-view" [ngClass]="{'preview':selected && !selected.canEdit}" #renderParent>
    <div class="center-container THREEJS" [ngClass]="{'svg-active':selected.camera.isSVG}" #projCnt>
        <app-project-preloader [preview]="preview" [modelData]="selected.parent" #preloader ></app-project-preloader>
        <app-project-webgl-controls [modelData]="selected.parent" #preControls></app-project-webgl-controls>
        <app-project-webgl-tooltip  [modelData]="selected.parent" #preToolTip ></app-project-webgl-tooltip>
        <app-project-svg-view  [selected]="selected" [glapp]="_self" *ngIf="selected.camera.isSVG && app.allLoad" #svgEl></app-project-svg-view>
        <app-tooltip-help #tooltipHelp></app-tooltip-help>
    </div>
    <app-action-pop-up #actionPopUp></app-action-pop-up>
</div>
