<textarea #txtarea (change)="change()" [style.display]="!config.jsonView?'':'none'">{{config.value}}</textarea>

<div *ngIf="config.jsonView">
  <h3>Datasource elements list</h3>
  <div class="json-view">
    <ngx-json-viewer [json]="config.value"></ngx-json-viewer>
  </div>
</div>

