<div class="costumization" *ngIf="!project.model "><h2>You have to add some area!!!</h2></div>
<div *ngIf="project && project.model && project.model.data && project.model.data.length" >
    <app-costumization [project]="project" ></app-costumization>
</div>
