@import "../../styles/values"

app-file-upload
  padding: 0
  .list-files
    display: block
    font-size: 12px
    color: $text-color-gray
    overflow: hidden
    text-overflow: ellipsis
  .btn-def
    padding: 10px 30px
    text-align: center
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19)
    color: $primary-text
    font-weight: 500
    -webkit-transition: opacity .5s
    transition: opacity .5s
    cursor: pointer
    font-size: 15px
    &:hover
      opacity: 0.6

