@import "../../styles/values"

tree
  .parent
    .iconButton
      background: $text-color-gray

  ul
    &.tree-webgl-view
      border: none
      border-left: 1px solid $deactive
      margin-left: 15px
      width: 190px
      &.first
        position: absolute
        border: none
        margin: 0
        OVERFLOW: auto
        height: calc(100vh - 166px)
        width: 300px
        .clear
          clear: both
      .left-arrow
        width: 15px
        border-top: 1px solid $deactive
        transform: translate(-100%, -33px)
        float: left
        &.end
          width: 16px
        &.end-list
          transform: translate(-33px, -65px) rotate(0deg)
          width: 0
          border-right: 1px solid $deactive
          height: 33px
    /* z-index: 100000000; */
    /* top: 0; */
    border-right: 1px solid $deactive
  .tree-webgl-view
    list-style-type: none
    padding: 0
    margin: 10px 0
    li
      padding: 0px 16px
      margin-left: -1px
      &.last-item
        border-left: 1px solid #ffffff
    .iconButton
      color: $black
      padding: 10px
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
      max-width: 140px
      text-overflow: ellipsis
      display: block
      overflow: hidden
      cursor: pointer
      margin: 10px 0
      border-radius: 2px
      &.hovered
        background: #ff7c87!important
      &:hover
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)
      &.active
        border: 2px solid $border-active-color
      &.main
        background: $primary-text
        color: white
        a
          color: white
      &.link
        background: $border-color
      &.js-code
        background: $deactive
      a
        padding-top: 7px
        color: $black
        float: left
        text-overflow: ellipsis
        overflow: hidden
        width: 70%
        height: 24px
      .pop-up-icon
        float: right
      li
        margin: 30px 0
  .pop-up
    margin-right: -10px
    margin-top: -20px
    &.bla-t
      position: absolute
      z-index: 1