<div class="block-bg" (click)="cancel()"></div>

<div class="new-form">
    <span class="tag-text">{{title}}</span>
    <div class="main-info">
        <form class="item-form" #createViewForm="ngForm" novalidate>
            <div class="input-wrap">
                <input type="text" [class.input-fill]="project.title" [class.input-error]="!resol.title" placeholder="Project Name" [(ngModel)]="project.title" [ngModelOptions]="{standalone: true}"  (focus)="resol.title = true">
                <label [class.full-op]="!resol.title">This input requires a value!</label>
            </div>
            <div class="input-wrap">

                <input [class.input-fill]="project.link" [class.input-error]="destination1.invalid && (destination1.touched || createViewForm.clicked)"  placeholder="datasource URL" [(ngModel)]="project.link" [ngModelOptions]="{standalone: true}"
                       name="destination1" #destination1="ngModel" type="text" required
                       [pattern]="_CONFIG.PATTERNS.URL" >
                <label [class.full-op]="destination1.invalid && (destination1.touched|| createViewForm.clicked)">The
                    Destionation is required and must be an url!</label>
            </div>
        </form>
        <div class="item-photo">
            <label class="photo" [ngStyle]="{'background-image': 'url(' + project.image + ')'}">
                <input type="file" capture="camera" accept="image/*" (change)="loadPhoto($event)">
                <i class="material-icons" [hidden]="project.image != false">crop_original</i>
            </label>
            <div class="photo-ctrl" [hidden]="project.image == false">
                <label>Upload<input type="file" capture="camera" accept="image/*" (change)="loadPhoto($event)"></label>
                <span (click)="removePhoto()">Remove</span>
            </div>
            <div class="photo-ctrl" [hidden]="project.image != false">
                <label>Upload image<input type="file" capture="camera" accept="image/*" (change)="loadPhoto($event)"></label>
            </div>
            <!--<span class="photo-info">540*330 px</span>-->
        </div>
    </div>
    <div class="new-btns">
        <span class="false-btn" (click)="Create ? cancel() : reset()">cancel</span>
        <span class="true-btn" (click)="accept(createViewForm)">{{Create ? 'accept' : 'save'}}</span>
    </div>
</div>