@import "../../../../../../oxivisual_admin/src/styles";

body {
  background: rgba(0, 0, 0, 0);

}

* {
  transition: none !important;
}

.preloader-back {
  text-align: center;
  img {
    height: 0;
    &.active {
      height: auto;
    }
  }
}

.tooltip-container .cos-info .cos-label span {
  display: initial;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

* {
  transition: all 0.3s linear;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

.tooltip-container .cos-info {
  transform: translate(-30px, -4px);
}

.img-item-slider-container {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out !important;
  -moz-transition: opacity 1s ease-in-out !important;
  -o-transition: opacity 1s ease-in-out !important;
  transition: opacity 1s ease-in-out !important;
  display: block !important;

}

.img-item-slider-container.hidded {
  opacity: 0;
}

.img-slider-container img {
  width: auto;
  height: 100%;
}

.webgl-view, .webgl-view > canvas, .svg-view, .svg-view > canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.m-center {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}