@import "../../../styles/animations"
@import "../../../styles/values"

.svg-view
  transition: none
  .points-container
    position: absolute
    top: 0
    left: 0
    .drag-points
      position: absolute
      width: 20px
      height: 20px
      transform-origin: left top
      transform: scale(1) translate(-50%, -50%)
      background: red
      top: 0
      border-radius: 50%
      pointer-events: none
      border: 2px solid white
      cursor: url('/assets/img/Cursor_2x_1.png')8.5 0, auto
      opacity: 1
  .zoom-cntrls
    position: absolute
    right: 30px
    bottom: 30px
    display: inline-flex
    span
      background-color: $primary-text
      color: white
      font-size: 15px
      line-height: 24px
      margin-right: 20px!important
    i
      background: white
      color: $reset
      margin: 10px 0
    span,i
      margin: 4px
      cursor: pointer
      display: inline
      padding: 10px
      text-align: center
      border-radius: 2px
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1)
  .zoomer-c
    display: none
    position: absolute
    border-radius: 50%
    left: 47px
    top: 47px
    width: 96px
    height: 96px
    overflow: hidden
    .diamonds
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      .diamond
        width: 0
        height: 0
        border: 7px solid transparent
        border-bottom-color: #ffffff
        position: relative
        top: -6px
        left: 1px
        &.back-d
          border: 9px solid transparent
          top: -8px
          border-bottom-color: #000000
          &:after
            border: 9px solid transparent
            border-bottom-color: #000000
            top: 9px
            left: -9px
            transform: rotate(180deg)
        &:after
          content: ''
          position: absolute
          left: -7px
          top: 7px
          width: 0
          height: 0
          border: 7px solid transparent
          border-top-color: #ffffff

    .lines
      //animation: color-change infinite ease-in-out 5s alternate
      background-color: #000000
      opacity: 0.5
    .left-border
      position: absolute
      left: 50%
      top: 50%
      width: 2px
      height: 100%
      transform: translateY(-50%)
    .top-border
      position: absolute
      top: 50%
      left: 50%
      width: 100%
      transform: translateX(-50%)
      height: 2px

    &.active
      display: block
  canvas
    width: 100%
    height: 100%
    &.buffer-c
      position: absolute
      left: 0
      top: 0
      z-index: -1
      visibility: hidden
  .log-info
    position: absolute
    top: 10px
    right: 10px
    font-size: 12px
    background: white
    p
      padding: 0 10px
      color: red
  .help-info
    background: white
    position: fixed
    right: 10px
    top: 20px
    cursor: pointer
    .help-text
      display: none
      ol
        list-style-type: none
        padding: 5px
        text-align: left
      &.active
        display: block
    h1
      position: relative
      right: 0
      cursor: pointer
      padding: 10px
      &:hover
        color: yellowgreen
    p
      position: absolute
      right: 10px
      width: 0
      height: 0
      transition: opacity, 0.2s linear
      opacity: 0
      background: #fff4c2
      &.active
        width: 250px
        height: inherit
        opacity: 1
  *
    margin: 0
    padding: 0
    transition: none