<div class="svg-view" #parentEl >
    <canvas #dataEl  ></canvas>
    <!--<div class="points-container" #pointsContainer>-->
        <!--<app-project-svg-drag-point *ngFor="let point of allPoints" [parent]="point"></app-project-svg-drag-point>-->
    <!--</div>-->
    <!--<canvas #dataEl id="c"></canvas>-->
    <div *ngIf="selected.canEdit">

        <div [ngClass]="{'active': showHelpZoomer}" class="zoomer-c">
            <div class="left-border lines"></div>
            <div class="top-border lines"></div>
            <div class="diamonds">
                <div class="diamond back-d"></div>
            </div>
            <div class="diamonds">
                <div class="diamond"></div>
            </div>
            <canvas #zoomer></canvas>
        </div>
        <canvas class="buffer-c" #bufferC></canvas>

        <div class="help-info" (mouseover)="help=!help" (mouseout)="help=!help">
            <h1 >?</h1>

            <div  class="help-text"  [ngClass]="{'active':help}" >
                <ol >
                    <li>polygon should have at least 3 points</li>
                    <li>mouse in - to hover drawed area</li>
                    <li>press and hold (W,A,S,D) or mouse DRAG -  translate zoomed area </li>
                    <li>press (+/-) or SHIFT + scorll -  to zoom</li>
                    <li>
                        <h2>MODES:</h2>
                        <ol>
                            <li><b>drawing</b> -  create/edit point,Right click - to finish</li>
                            <li><b>selecting</b> - hover area and set action(Right click)</li>
                            <li><b>grouping </b> - Left click on polygon to add him to group, Right click create new group</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>