<div style="display: none">
    <div #formPopUp>
        <fieldset>
            <div class="form-group">
                <label for="usr" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="inputData.name" class="form-control" id="usr">
                </div>
            </div>

            <div class="form-group"  *ngIf="action.jsCode">
                <label for="jsC" class="col-sm-2 control-label">JS Code:</label>
                <div class="col-sm-10">
                    <textarea  [(ngModel)]="inputData.jsCode"  class="form-control" id="jsC"></textarea>
                </div>
            </div>

            <div class="form-group"  *ngIf="action.URL">
                <label for="usr" class="col-sm-2 control-label">URL link:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="inputData.URL" class="form-control" id="URL">
                </div>
            </div>


        </fieldset>
    </div>
</div>