.drag-points
  position: absolute
  width: 20px
  height: 20px
  transform-origin: left top
  transform: scale(1) translate(-50%, -50%)
  background: red
  top: 0
  border-radius: 50%
  pointer-events: none
  border: 2px solid white
  cursor: url('/assets/img/Cursor_2x_1.png')8.5 0, auto
  opacity: 0.2
