<div class="login-logo">
    <img src="../../../assets/img/logo.png" alt="">
</div>
<div class="login-form">
    <label class="login-text">Log in:</label>

    <form class="item-form" #editViewForm="ngForm" (keydown)="keyDown($event,editViewForm.invalid)">
        <div class="input-wrap">
            <input id="login-name" name="login" #email="ngModel"
                   [class.input-error]="email.invalid && (email.touched || submitted)" type="email"
                   [(ngModel)]="user.email" [pattern]="config.PATTERNS.EMAIL" maxlength="50"
                   placeholder="Username / email" required>
            <label for="login-name" [class.full-op]="email.invalid && (email.touched|| submitted)">This input requires a
                value!</label>
        </div>
        <div class="input-wrap">
            <input id="login-pass" name="usrPsw" #password="ngModel"
                   [class.input-error]="password.invalid && (password.touched|| submitted)" type="password"
                   [(ngModel)]="user.password" maxlength="50" placeholder="Password" required>
            <label for="login-pass" [class.full-op]="password.invalid && (password.touched || submitted)">This input
                requires a value!</label>
        </div>
    </form>
    <div class="log-in">
        <div class="chkbx-wrap">
            <div id="remember-int" (click)="remember = !remember">
                <i class="material-icons" [hidden]="!remember">done</i>
            </div>
            <label for="remember-int" (click)="remember = !remember">Remember password </label>
        </div>
        <span class="true-btn" (click)="logIn(editViewForm.invalid)">ACCEPT</span>
    </div>
</div>