<div class="project" [routerLink]="['/project', (project._id || 0)]" routerLinkActive="active">
    <div class="project-content img-true" [ngStyle]="{'background-image': 'url(' + project.image + ')'}"
         [class.img-true]="project.image">
        <div class="darkness-body"></div>
        <div class="project-body">
            <i class="material-icons no-img" [hidden]="project.image">crop_original</i>
            <div class="project-ctrl-wrap">
                <span class="unpublished" [hidden]="project.published">Unpublished</span>

                <div class="project-ctrl">
                    <i class="material-icons">edit</i>

                    <div class="pop-up-icon" [class.pop-up-icon-active]="openedPopUp">
                        <i class="material-icons" (click)="openPopUp($event)">more_vert</i>

                        <div class="pop-up" [hidden]="!openedPopUp">

                            <div class="pop-up-item" (click)="deactivateProject($event)">
                                <i class="material-icons"
                                   [innerText]="project.published?'visibility':'visibility_off'"></i>

                                <div class="pop-up-row-name">
                                    <span [innerText]="project.published?'Deactivate':'Activate'"></span>
                                </div>
                            </div>
                            <div class="pop-up-item" (click)="deleteProject($event)">
                                <i class="material-icons">delete</i>

                                <div class="pop-up-row-name">
                                    <span>Delete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-info">
                <div class="project-title">{{project.title}}</div>
                <div class="project-created">Created: {{project.created | date: 'dd.MM.yyyy' }}</div>
            </div>
        </div>
    </div>
    <div class="project-bot"  *ngIf="project.owner" >
        <span class="project-admin">Admin:</span>

        <div class="project-users" >
            <div class="project-user" >
                <div class="project-user-img" [ngStyle]="{'background-image': 'url(' + project.owner.avatar + ')'}">
                    <span *ngIf="!project.owner.avatar">{{userService.lettersNoImg(project.owner)}}</span>
                </div>
                <span class="project-user-name"
                      [innerHTML]="project.owner.firstName+' '+project.owner.secondName"></span>
            </div>
        </div>
    </div>
</div>