@import "../../../../../styles/values"
.item-source
  height: calc(100vh - 232px)
  overflow: auto
  margin-right: 5px

.active-text
  color: $primary

.span-hover-top-gl
  height: inherit
  top: -60px

.model-config
  .row
    margin: 5px 0
  .inp-form
    //input[type=checkbox]
    //  transform: scale(2.5)
    //  width: initial
    //  display: block
    //  margin-top: 10px
    //  margin-left: 10px
    //  cursor: pointer

    &.col-lg-12
      margin: 20px 0
    label
      &.full-op
        right: 0
  .upload-list
    padding: 20px 0
    app-file-upload
      margin: 5px 0
      .btn-def, .list-files
        width: 50%
        float: left
      .btn-def
        padding: 10px
        background: $white
      .list-files
        padding: 13px 10px
  .files-top-block
    border-bottom: 1px solid $bottom-bor
    margin: 20px 0
    display: inline-block
    padding: 0 10px
    width: 100%
    margin-top: 10px
    &.modes
      padding: 8px 25px
      font-size: 13px
      margin-bottom: 0
      .mode-el
        height: 41px
        float: left
        display: table
        cursor: pointer
        .middle
          display: table-cell
          vertical-align: middle
      .mode-type
        float: right
        border-radius: 3px
        border: 1px solid $deactive
        .mode-el
          width: 121px
          text-align: center
          border-top: 1px
          border-bottom: 1px
          &.selected
            background-color: $primary0
            color: white
            border: none
          &:hover
            background: $btn-color1
            color: $white
          div
            vertical-align: middle
            display: table-cell

    .input-wrap
      input
        margin-top: 0

.bottom-block
  padding: 0 10px
  .table-tool
    .zoom-body
      margin: 15px 0
      .middle-text
        padding: 0
        margin-top: 11px
      .zoom-cntrls
        display: inline-flex
        .zoom-icon
          display: flex
        .zoom-fit
          background-color: $primary-text
          color: white
          font-size: 15px
          line-height: 24px
        i
          background: white
          color: $reset
        .zoom-fit, i
          margin: 0
          cursor: pointer
          display: inline
          padding: 10px
          text-align: center
          border-radius: 2px
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
  .modes-svg
    border-radius: 3px
    border: 1px solid $deactive
    .mode-item
      padding: 10px
      margin: 0
      border-right: 1px solid $deactive
      cursor: pointer
      &:last-child
        border: none
      &.selected
        background-color: $primary0
        color: white
        border: none
      &:hover
        background: $btn-color1
        color: $white
