<div class="model-config">
    <form class="item-form" #editViewForm="ngForm" novalidate (change)="onchange()">
        <div class="item-source" *ngIf="modelStructure._category == _CONFIG.PROJ_DESTINATION.ModelStructure">
            <div style="">
                <div class="top-block files-top-block modes">
                    <div class="mode">
                        <div class="mode-el">
                            <div class="middle"> Mode:</div>
                        </div>
                    </div>
                    <div class="mode-type ">
                        <div class="mode-el" [ngClass]="{'selected':!modelStructure.camera.isSVG}"
                             (click)="modelStructure.camera.isSVG = false">
                            <div class="middle">MODEL</div>
                        </div>
                        <div class="mode-el" [ngClass]="{'selected':modelStructure.camera.isSVG}"
                             (click)="modelStructure.camera.isSVG = true">
                            <div class="middle">SVG</div>
                        </div>
                    </div>
                </div>
                <div class="top-block files-top-block ">
                    <div class="input-wrap">
                        <div class="col-lg-12">
                            <input type="text" #curentName="ngModel" name="curentName"
                                   (change)="onInputNodeName()"
                                   placeholder="Level`s Name"
                                   [(ngModel)]="modelStructure.name" required autofocus >
                            <label [class.full-op]="curentName.invalid && curentName.touched">The
                                Level`s Name is required!</label>
                        </div>
                    </div>

                    <div class="upload-list col-lg-12">
                        <app-file-upload [title]="'Reload model'" [accept]="'.obj'"
                                         [category]="_CONFIG.FILE.TYPE.MODEL_OBJ"
                                         [required]="'1'" class="col-lg-12" [files]="[modelStructure.destination]"
                                         [inject]="modelStructure.glApp"
                                         *ngIf="!modelStructure.camera.isSVG"></app-file-upload>
                        <app-file-upload [title]="'Reload svg'" [accept]="'.svg'"
                                         [category]="_CONFIG.FILE.TYPE.MODEL_SVG"
                                         [required]="'1'" class="col-lg-12" [files]="[modelStructure.svgDestination]"
                                         [inject]="modelStructure.glApp"
                                         *ngIf="modelStructure.camera.isSVG"></app-file-upload>

                        <app-file-upload [title]="'Reload frames'" [multiple]="'multiple'"
                                         [category]="_CONFIG.FILE.TYPE.PREVIEW_IMG"
                                         [required]="'1'" [accept]="'image/*'" [files]="modelStructure.images"
                                         [inject]="modelStructure.glApp"
                                         class="col-lg-12"></app-file-upload>

                        <app-file-upload [title]="'Aligning frames'" [multiple]="'multiple'"
                                         [inject]="modelStructure.glApp"
                                         [category]="_CONFIG.FILE.TYPE.ALIGN_IMG" [accept]="'image/*'"
                                         [files]="modelStructure.alignImages"
                                         class="col-lg-12"></app-file-upload>


                        <div class="inp-form col-lg-12"
                             *ngIf="modelStructure.images.length && modelStructure.alignImages.length && modelStructure.glApp._slider">
                            <div class="inp-form col-lg-1" style=" float: right; display: table; top: -13px;right:28px" (click)="modelStructure.glApp._slider.toggleDebug(modelStructure.alignFrames)">
                                <input name="alignFrames" type="checkbox" id="alignFrames-checkbox"
                                       class="checkbox"
                                       [(ngModel)]="modelStructure.alignFrames">
                                <label for="alignFrames-checkbox"></label>
                            </div>
                            <div [ngClass]="{'active-text':modelStructure.camera.kompass.enabled}">Togle to
                                {{modelStructure.glApp._slider.isDebug?'Upload':'Align'}} frames
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-block">
                    <div class="row">
                       <!-- <div class="mode-item el-tooltip col-lg-2" (click)="modelStructure.sourcesApp.generateNode()">
                            <i class="material-icons">class</i>
                                <span class="span-hover span-hover-top">
                                    <span>Generate all Children</span>
                                </span>
                        </div>-->
                        <div style="text-align: center" class="my-button def-button col-lg-12" (click)="modelStructure.sourcesApp.generateNode()">Generate all Children</div>
                    </div>


                    <!--<fieldset>
                        <legend>Scene elements</legend>
                        <div class="row">
                            <div class="inp-form col-lg-6">
                                <label>Opacity</label>
                                <input name="opacity" type="number"
                                       (change)="modelStructure.glApp.updateData('opacity')" step="0.01" min="0" max="1"
                                       [(ngModel)]="modelStructure.camera.opacity">
                            </div>
                        </div>
                    </fieldset>-->

                  <fieldset>
                        <legend>Kompas</legend>
                        <div class="row">
                            <div class="inp-form col-lg-6">
                                <div class="inp-form col-lg-1"
                                     style=" float: right; display: table; top: -13px;right:28px">
                                    <input name="enablr" type="checkbox" id="enablr-checkbox"
                                           class="checkbox"
                                           (change)="modelStructure.glApp.updateData('kompass')"
                                           [(ngModel)]="modelStructure.camera.kompass.enabled">
                                    <label for="enablr-checkbox"></label>
                                </div>
                                <div [ngClass]="{'active-text':modelStructure.camera.kompass.enabled}">Show</div>
                            </div>
                            <div class="inp-form col-lg-6" *ngIf="modelStructure.camera.kompass.enabled">
                                <label>start from(&deg;)</label>
                                <input name="angle" type="number"
                                       (change)="modelStructure.glApp.updateData('kompass')" step="1" min="0" max="360"
                                       [(ngModel)]="modelStructure.camera.kompass.angle">
                            </div>
                        </div>
                    </fieldset>

                    <div *ngIf="modelStructure.glApp.main">
                        <div *ngIf="modelStructure.glApp.main.svgEl" class="table-tool">
                            <fieldset>
                                <legend>Helpers</legend>
                                <div class="row" style="margin-bottom: 10px">

                                    <div class="inp-form col-lg-6">
                                        <div class="inp-form col-lg-1"
                                             style=" float: right; display: table; top: -13px;right:28px">
                                            <input name="showZoomHelper" type="checkbox" id="showZoomHelper-checkbox"
                                                   class="checkbox"
                                                   (change)="modelStructure.glApp.updateData('showZoomHelper')"
                                                   [(ngModel)]="modelStructure.camera.showZoomHelper">
                                            <label for="showZoomHelper-checkbox"></label>
                                        </div>
                                        <div [ngClass]="{'active-text':modelStructure.camera.showZoomHelper}">Zoom</div>
                                    </div>
                                    <div class="row">
                                        <div class="inp-form col-lg-6">
                                            <p>export
                                                <a href="#"
                                                   (click)="modelStructure.glApp.main.svgEl.exportJSON($event)">JSON</a>,
                                                <a href="#" (click)="modelStructure.glApp.main.svgEl.exportSVG($event)">SVG</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>SVG Tools:</legend>
                                <div class="row modes-svg">
                                    <div class="mode-item el-tooltip col-lg-2"
                                         (click)="modelStructure.glApp.main.svgEl.updateMode(_CONFIG.SVG_MODE.ADD)"
                                         [ngClass]="{'selected':modelStructure.glApp.main.svgEl.mode == _CONFIG.SVG_MODE.ADD }">
                                        <i class="material-icons">mode_edit</i>
                                <span class="span-hover span-hover-top">
                                    <span>Edit Poly points</span>
                                </span>
                                    </div>
                                    <div class="mode-item el-tooltip col-lg-2"
                                         (click)="modelStructure.glApp.main.svgEl.updateMode(_CONFIG.SVG_MODE.DRAG)"
                                         [ngClass]="{'selected':modelStructure.glApp.main.svgEl.mode == _CONFIG.SVG_MODE.DRAG }">
                                        <i class="material-icons">fullscreen</i>

                                <span class="span-hover span-hover-top">
                                    <span>Transform Poly</span>
                                </span>
                                    </div>
                                    <div class="mode-item el-tooltip col-lg-2"
                                         (click)="modelStructure.glApp.main.svgEl.updateMode(_CONFIG.SVG_MODE.EDIT)"
                                         [ngClass]="{'selected':modelStructure.glApp.main.svgEl.mode == _CONFIG.SVG_MODE.EDIT }">
                                        <i class="material-icons">build</i>
                                <span class="span-hover span-hover-top">
                                    <span>Create Poly</span>
                                </span>
                                    </div>
                                    <div class="mode-item el-tooltip col-lg-2"
                                         (click)="modelStructure.glApp.main.svgEl.updateMode(_CONFIG.SVG_MODE.NO)"
                                         [ngClass]="{'selected':modelStructure.glApp.main.svgEl.mode == _CONFIG.SVG_MODE.NO }">
                                        <i class="material-icons">settings</i>

                                <span class="span-hover span-hover-top">
                                    <span>Attach/Edit Action</span>
                                </span>
                                    </div>
                                    <div class="mode-item el-tooltip col-lg-2"
                                         (click)="modelStructure.glApp.main.svgEl.updateMode(_CONFIG.SVG_MODE.GROUP)"
                                         [ngClass]="{'selected':modelStructure.glApp.main.svgEl.mode == _CONFIG.SVG_MODE.GROUP }">
                                        <i class="material-icons">work</i>

                                <span class="span-hover span-hover-top">
                                    <span>Grouping</span>
                                </span>
                                    </div>
                                    <div class="mode-item el-tooltip col-lg-2"
                                         (click)="modelStructure.glApp.main.svgEl.updateMode(_CONFIG.SVG_MODE.CONTINUE_CREATE)"
                                         [ngClass]="{'selected':modelStructure.glApp.main.svgEl.mode == _CONFIG.SVG_MODE.CONTINUE_CREATE }">
                                        <i class="material-icons">edit_location</i>

                                <span class="span-hover span-hover-top">
                                    <span>Continue create poly</span>
                                </span>
                                    </div>
                                    <div class="col-lg-2"></div>

                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Zooming:</legend>
                                <div class="row zoom-body">
                                    <div class="zoom-cntrls col-lg-10">
                                        <div class="zoom-fit col-lg-8"
                                             (click)="modelStructure.glApp.main.svgEl.zoomWrapper(0)">Fit to frame
                                        </div>
                                        <div class="zoom-icon col-lg-2"
                                             (click)="modelStructure.glApp.main.svgEl.zoomWrapper(-1)"><i
                                                class="material-icons">remove</i></div>
                                        <div class="zoom-icon col-lg-2"
                                             (click)="modelStructure.glApp.main.svgEl.zoomWrapper(1)"><i
                                                class="material-icons">add</i></div>
                                    </div>
                                </div>
                            </fieldset>


                        </div>
                        <div *ngIf="!modelStructure.camera.isSVG">
                            <fieldset>
                                <legend>Camera Position</legend>
                                <div class="row">
                                    <div class="inp-form col-lg-4">
                                        <label>X</label>
                                        <input name="posX" type="number"
                                               (change)="modelStructure.glApp.updateData('cameraPst')"
                                               [(ngModel)]="modelStructure.glApp.camera.position.x">
                                    </div>
                                    <div class="inp-form col-lg-4">
                                        <label>Y</label>
                                        <input name="posY" type="number"
                                               (change)="modelStructure.glApp.updateData('cameraPst')"
                                               [(ngModel)]="modelStructure.glApp.camera.position.y">
                                    </div>
                                    <div class="inp-form col-lg-4">
                                        <label>Z</label>
                                        <input name="posZ" type="number"
                                               (change)="modelStructure.glApp.updateData('cameraPst')"
                                               [(ngModel)]="modelStructure.glApp.camera.position.z">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Camera Target</legend>
                                <div class="row">
                                    <div class="inp-form col-lg-4">
                                        <label>X</label>
                                        <input name="tar" type="number"
                                               (change)="modelStructure.glApp.updateData('cameraTarget')"
                                               [(ngModel)]="modelStructure.glApp.controls.target.x">
                                    </div>
                                    <div class="inp-form col-lg-4">
                                        <label>Y</label>
                                        <input name="tarY" type="number"
                                               (change)="modelStructure.glApp.updateData('cameraTarget')"
                                               [(ngModel)]="modelStructure.glApp.controls.target.y">
                                    </div>
                                    <div class="inp-form col-lg-4">
                                        <label>Z</label>
                                        <input name="tarZ" type="number"
                                               (change)="modelStructure.glApp.updateData('cameraTarget')"
                                               [(ngModel)]="modelStructure.glApp.controls.target.z">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Camera Settings</legend>
                                <div class="row">
                                    <div class="inp-form col-lg-4">
                                        <label>Fov</label>
                                        <input name="fov" type="number" step="0.01"
                                               (change)="modelStructure.glApp.updateData()"
                                               [(ngModel)]="modelStructure.glApp.camera.fov" step="0.01">
                                    </div>
                                    <div class="inp-form col-lg-4">
                                        <label>Lens</label>
                                        <input name="lens" type="number"
                                               (change)="modelStructure.glApp.updateData('lens')"
                                               [(ngModel)]="modelStructure.camera.lens" step="0.01">
                                    </div>
                                    <div class="inp-form col-lg-4">
                                        <label>Zoom</label>
                                        <input name="zoom" type="number"
                                               (change)="modelStructure.glApp.updateData('zoom')"
                                               [(ngModel)]="modelStructure.camera.zoom" step="0.01">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Controls Settings</legend>
                                <div class="row">
                                    <div class="inp-form col-lg-6">
                                        <label>Zoom Speed</label>
                                        <input name="zoomSpeed" type="number"
                                               (change)="modelStructure.glApp.updateData('zoomSpeed')"
                                               [(ngModel)]="modelStructure.controls.zoomSpeed" step="0.01">
                                    </div>
                                    <div class="inp-form col-lg-6">
                                        <label>Rotate Speed</label>
                                        <input name="rotateSpeed" type="number"
                                               (change)="modelStructure.glApp.updateData('rotateSpeed')"
                                               [(ngModel)]="modelStructure.controls.rotateSpeed" step="0.01">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Views</legend>
                                <div class="row">

                                    <div class="inp-form col-lg-6">
                                        <label>Move to frame:</label>
                                        <select type="string" [(ngModel)]="modelStructure.glApp.selectedIframe"
                                                (change)="modelStructure.glApp.moveToView()"
                                                [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let mesh of modelStructure.glApp.meshes"
                                                    [ngValue]="mesh.name"
                                                    [ngStyle]="{ 'background-color': '#'+mesh.material.color.getHexString() }">
                                                {{mesh.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="add-btn el-tooltip"
                                         *ngIf="modelStructure.images.length > 1"
                                         (click)="modelStructure.sourcesApp.recalcElViews()">
                                        <i class="material-icons">label</i>

                                        <div class="span-hover span-hover-top span-hover-top-gl ">
                                            <span>Find best view for element</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="item-source" *ngIf="modelStructure._category != _CONFIG.PROJ_DESTINATION.ModelStructure">
            <div class="bottom-block">
                <div class="input-wrap">
                    <div class="col-lg-12">
                        <input type="text" #curentName="ngModel" name="curentName"
                               placeholder="Level`s Name"
                               (change)="onInputNodeName()"
                               [(ngModel)]="modelStructure.name" required autofocus maxlength="120">
                        <label [class.full-op]="curentName.invalid && curentName.touched">
                            The Level`s Name is required!</label>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="inp-form col-lg-12">
                        <span>Destionation</span>

                        <div *ngIf="modelStructure._category == _CONFIG.PROJ_DESTINATION.LinkGeneralStructure">
                            <input name="destination1" #destination1="ngModel" type="text" required
                                   [pattern]="_CONFIG.PATTERNS.URL"
                                   [(ngModel)]="modelStructure.destination" maxlength="120">
                            <label [class.full-op]="destination1.invalid && destination1.touched">The
                                Destionation is required and must be an url!</label>
                        </div>
                        <div *ngIf="modelStructure._category === _CONFIG.PROJ_DESTINATION.GeneralStructure">
                            <textarea rows="10" class="col-lg-12" name="destination0" #destination0="ngModel" required
                                      [(ngModel)]="modelStructure.destination" maxlength="120"></textarea>
                            <label [class.full-op]="destination0.invalid && destination0.touched || !modelStructure.destination.length">The
                                Destionation is required and must be an js code! </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!modelStructure.sourcesApp.isSaving">
            <!--<div class="add-btn el-tooltip"
                 *ngIf="modelStructure.camera && !modelStructure.camera.isSVG && modelStructure.images.length > 1"
                 (click)="modelStructure.sourcesApp.recalcElViews()">
                <i class="material-icons">label</i>

                <div class="span-hover span-hover-top span-hover-top-gl ">
                    <span>Find best view for element</span>
                </div>
            </div>-->


            <div class="add-btn el-tooltip" *ngIf="modelStructure._project.hasChanges"
                 (click)="modelStructure.sourcesApp.update(editViewForm)">
                <i class="material-icons">save</i>

                <div class="span-hover span-hover-top span-hover-top-gl">
                    <span>Save</span>
                </div>
            </div>
            <div class="add-btn el-tooltip"
                 *ngIf="modelStructure.hasRecalcChanges && modelStructure.camera && !modelStructure.camera.isSVG && modelStructure.images.length>1"
                 (click)="modelStructure.glApp.recalc()">
                <i class="material-icons">exposure</i>

                <div class="span-hover span-hover-top span-hover-top-gl">
                    <span>Align all frames from current</span>
                </div>
            </div>
            <div class="add-btn" style="visibility: hidden">
                <i class="material-icons">exposure</i>

            </div>

            <!--<div class="add-btn disabled" *ngIf="!modelStructure.hasChanges">-->
            <!--<i class="material-icons">save</i>-->
            <!--</div>-->
        </div>
    </form>
</div>
