.block-screen
  position: absolute
  z-index: 9999
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.51)
  color: white
  text-align: center
  .block-screen-body
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    .block-screen-status
      width: 30vw
      border-radius: 10px
      box-shadow: 0 0 0 3px rgba(255, 255, 0, 0)
      .block-screen-status-remain
        height: 18px
        border-radius: 10px
        background: blue