<div class="block-screen" *ngIf="enabled">
    <div class="block-screen-body">
        <h2 class="block-screen-title" [innerText]="title"></h2>
        <h4 class="block-screen-title" [innerText]="blockStatus"></h4>
        <div class="block-screen-status" *ngIf="statusShow">
            <div class="block-screen-status-remain" [style.width]="remain"></div>
        </div>
        <h4 >upload status {{statusUpload}}/100</h4>
    </div>

</div>