<div class="costumization">
    <div class="cos-row col-lg-2">
        <div class="row cos-header">Element list:</div>
        <ul class="cos-list">
            <li *ngFor="let item of menuList;  let ind = index" [ngClass]="{'active':item.active}"
                (click)="selectCurItem(item,menuList,ind)">
                {{item.title}}
                <div class="mailicon">
                    <svg width="6px" height="9px" viewBox="0 0 6 9" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Website" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Super-User---project-creator---Publishing-"
                               transform="translate(-1298.000000, -396.000000)" fill="#181818">
                                <g id="tooltip" transform="translate(1048.000000, 370.000000)">
                                    <g id="Page-1" transform="translate(245.000000, 23.000000)">
                                        <polygon id="Fill-2-Copy"
                                                 points="5.72666642 10.8933327 8.77999947 7.83333286 5.72666642 4.77333294 6.66666627 3.8333331 10.666666 7.83333286 6.66666627 11.8333326"></polygon>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
    <div class="cos-row col-lg-5">
        <div class="row cos-header cos-t">Customization <span class="btn-def"
                                                              (click)="saveChanges()"
                                                              *ngIf="!useGlobals">SAVE CHANGES</span>
        </div>
        <div class="cos-edit-body">

            <div class="cos-item" [ngClass]="{'active':menuList[0].active}">

            </div>

            <div class="cos-item" *ngFor="let menuL of menuList;  let ind = index" [ngClass]="{'active':menuL.active}">
                <div class="cos-tabs w3-bar w3-black">
                    <button *ngFor="let mtab of tabList[ind].config" (click)="selectCurItem(mtab , tabList[ind].config)"
                            [ngClass]="{'active':mtab.active}" class="w3-bar-item w3-button"
                            [innerText]="mtab.title"></button>
                </div>
                <app-project-text-code-mirror *ngFor="let mtab of tabList[ind].config" class="cos-code"
                                              [ngClass]="{'active':mtab.active}"
                                              [config]="mtab"></app-project-text-code-mirror>




                <form class="item-form form-horizontal" #inputedForm="ngForm" novalidate>
                    <div class="form-group" style="min-height: 1px; margin: 10px 0;" *ngIf="project">
                        <div class="inp-form col-lg-1"
                             style=" float: right; display: table; top: -13px;right:28px">
                            <input name="use-globals" type="checkbox" id="use-globals-checkbox"
                                   class="checkbox"
                                   [ngModel]="useGlobals"
                                   (change)="setGlobalSettings()">
                            <label style="opacity: 1" for="use-globals-checkbox"></label>
                        </div>
                        <div [ngClass]="{'active-text':useGlobals}">Use globals</div>

                    </div>
                </form>

                <form *ngIf="(false && menuList[1].active)" class="item-form form-horizontal" #inputedForm="ngForm" novalidate>



                    <div class="input-wrap">
                        <p><b>@your_attribute_name@</b> - wrap your desired attribute from datasource  in '@'</p>
                    </div>
                    <div class="input-wrap">
                        <input   #tooltipUrl="ngModel" [(ngModel)]="inputed.linkAction"
                               maxlength="250" name="tooltipUrl"  placeholder="Url link(http://www.oxivisuals.no/?flat=@id@)"
                               [class.input-error]="tooltipUrl.invalid"[ngModelOptions]="{standalone: true}" [pattern]="_CONFIG.PATTERNS.URL" >
                        <label [class.full-op]="tooltipUrl.invalid">Url link must be an url!</label>
                    </div>

                    <div class="form-group" *ngIf="curItem[3]" style="    margin: 20px 0;">
                        <label class="col-sm-6 ">Index of Element datasource</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="number" (change)="updateElementIndex()"
                                   [(ngModel)]="indexDatasource" min="0" max="{{curItem[3].value.length}}" [ngModelOptions]="{standalone: true}" >
                        </div>

                    </div>
                </form>


                <!--<form  *ngIf="menuList[0].active" class="item-form" #inputedForm="ngForm" novalidate>
                    <div class="input-wrap">
                        <input  type="color" name="opacityFill"  [(ngModel)]="inputed.opacityFill"
                               min="0"max="1"step="0.01"    placeholder="Opacity Fill" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="input-wrap">
                        <input  type="color" name="opacityFill" #tooltipUrl="ngModel" [(ngModel)]="inputed.linkAction"
                               maxlength="250"  placeholder="Url link(http://www.oxivisuals.no/?flat=@id@)"
                               [class.input-error]="tooltipUrl.invalid"[ngModelOptions]="{standalone: true}">

                        <label [class.full-op]="tooltipUrl.invalid">Url link must be an url!</label>
                    </div>
                </form>-->



            </div>
        </div>
    </div>
    <div class="cos-row col-lg-5">
        <div class="cos-preview webgl-view" *ngIf="menuList[0].active && curItem">
            <app-project-webgl-controls [parent]="curNameSpace" [data]="curItem"
                                        #wcontrols></app-project-webgl-controls>
        </div>
        <div class="cos-preview" *ngIf="menuList[1].active">
            <app-project-webgl-tooltip [isEdit]="1" [modelData]="modelData" [parent]="curNameSpace" [data]="curItem"
                                       #wtooltip></app-project-webgl-tooltip>
        </div>
        <div class="cos-preview" *ngIf="menuList[2].active">
            <app-project-preloader [parent]="curNameSpace" [data]="curItem"
                                   #preloader></app-project-preloader>
        </div>

    </div>
</div>
