/* You can add global styles to this file, and also import other style files */
@import "app/styles/checkbox"
@import "app/styles/values"
@import "app/styles/fonts"
@import "app/styles/elements"
@import url('https://fonts.googleapis.com/css?family=Roboto')

.alertify-notifier
  z-index: 99999999999
.cos-code
  transition: none
  *
    transition: none
.svg-view
  transition: none
  .points-container
    position: absolute
    top: 0
    left: 0
    .drag-points,.drag-point
      position: absolute
      width: 20px
      height: 20px
      transform-origin: left top
      transform: scale(1) translate(-50%, -50%)
      background: #1976D2
      top: 0
      border-radius: 50%
      pointer-events: none
      border: 2px solid white
      cursor: url('/assets/img/Cursor_2x_1.png') 8.5 0, auto
      opacity: 1

html,
body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  background: $white
  font-family: 'Roboto', sans-serif !important
  color: $primary-text
  font-size: 15px
  textarea
    border: 1px solid #CACACA

*
  transition: all, 0.2s linear

.pop-up-icon-active
  background-color: rgba(0, 0, 0, 0.07)

.full-size
  position: absolute
  z-index: 9999
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.51)
  color: white
  .progress-info-calc
    font-size: 22px
    font-weight: 900
  .center
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    margin: auto
    text-align: center

input
  margin: 0
  padding: 0
  border: none
  background: none
  &:focus
    outline: none

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px $white inset
  -webkit-text-fill-color: $input-color !important
  &:focus
    -webkit-text-fill-color: $primary-text !important

label
  font-weight: initial
  margin: 0

i
  cursor: pointer
  &:hover
    opacity: 0.5

.pointer
  cursor: pointer

.row
  margin: 0

[hidden]
  display: none !important

.new-btns
  //justify-content: center
  .text-btn
    text-transform: uppercase
    cursor: pointer
    font-size: 16px
    color: $reset
    font-weight: 500
    -webkit-transition: opacity .3s
    transition: opacity .3s
    padding: 15px
  .right-btn
    margin-left: 30px
    color: $btn-color
  span:hover
    opacity: 0.6

@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./assets/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2')

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased

.body-dialog
  overflow: auto
  max-height: 60vh
  border: 1px solid black
  padding: 5px

  table
    td, th
      border: 1px solid gray
      padding: 5px
      text-align: center
  .my-dialog
    span
      float: left
    button
      float: right
      margin-left: 70px

@import "app/app.component"
@import "app/components/login/login.component"
@import "app/components/home/home.component"
@import "app/components/home/aside/aside.component"
@import "app/components/home/header/header.component"

@import "app/components/home/projects/projects.component"
@import "app/components/home/projects/new-project/new-project.component"
@import "app/components/home/projects/view/view.project"

@import "app/components/home/users/users.component"
@import "app/components/home/users/user-card/user-card.component"
@import "app/components/home/users/new-user/new-user.component"
@import "app/components/home/users/new-user/new-user.component"

@import "app/components/home/project/source/edit.view/edit.view"
@import "app/directives/upload.files/upload.file"
@import "app/directives/webgl.view/webgl.view"
@import "app/directives/webgl.view/preloader/preloader"
@import "app/directives/webgl.view/tooltip/tooltip"
@import "app/directives/tree/tree"

@import "app/components/home/project/project.component"
@import "app/components/home/project/basic/basic.project"
@import "app/components/home/project/source/source.project"
@import "app/components/home/project/costumization/costumization"
@import "app/styles/dialog"
@import "app/styles/scollbar"



