@import "../../../../styles/values"

.my-btn
  padding: 0 6px 0 6px
  margin: 6px 8px 6px 8px
  border-radius: 3px
  font-size: 14px
  text-align: center
  text-transform: uppercase
  border: none
  outline: none
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15)
  &.round
    width: 50px
    height: 50px
    border-radius: 50%
    background: $btn-color
    color: $white
    float: right
    i
      display: table
      margin: auto
  &:active
    margin-top: 15px
  &:hover
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)
.source-creating
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  //div
  //  padding: 0

  .input-wrap
    margin-bottom: 30px
.tabs-view
  .tabs-blocks
    display: inline-flex
  .my-table
    tr
      &:nth-child(1)
        td
          padding: 20px 30px
          &.webgl-item
            padding: 0

      &:nth-child(2)
        td
          //height: calc(100vh - 160px)
          //overflow: auto
    td
      max-width: 370px
      padding: 10px 0
      transition: width,display,0.1s
      vertical-align: top
      .source-creating
        transform: translate(-50%,0%)
        position: relative
        background: $white
        padding: 30px
        z-index: 3
      &.s-tab
        background: $back-alter
        &.webgl-item
          background: gray
          padding: 0
          margin: 0
          max-height: calc(100vh - 230px)
          vertical-align: middle
          .img-slider-container
            img
              //max-width: 70vw
          &td
            padding: 0

        .add-btn
          position: relative
          outline: none
          border: none
          float: right
          right: 30px
          bottom: 0
      .webgl-view
        padding: 0
        margin: 0
        app-project-webgl-view
          display: flex
          width: 100%
          height: 100%


    .tabs-header
      transition: width,display,0.1s
      border-bottom: 1px solid  $bottom-bor
      height: 62px
      &:nth-child(1)
        width: 305px
      &:nth-child(2)
        width: 370px
      .temp-data
        display: inline-table
        width: 100%
        vertical-align: top
        .temp-header
          display: table-cell
          padding: 20px
          border-bottom: 1px solid $bottom-bor
        .tabs-body
          display: table-row
          .body-data
            display: block
            padding: 20px
            height: calc(100vh - 163px)
      .title, .text-btn
        display: inline
      .title
        float: left
      .text-btn
        float: right
        text-transform: uppercase
        cursor: pointer
        font-size: 16px
        color: $primary
        font-weight: 500
        -webkit-transition: opacity .5s
        transition: opacity .5s
        &:hover
          opacity: 0.6
      &.no-width
        width: 10px
        text-align: center
        padding: 20px
      &.full-height
        height: 100%
      img
        &:hover
          cursor: pointer
          opacity: 0.5
      &:nth-child(2)
        background: $back-alter
  .model-config
    .inp-form
      .item-source
        height: calc(100vh - 232px)
        overflow: auto
        margin-right: 5px
      label
        color: #7E7E7E
      select
        width: 100%
        border: none
        height: 26px
      input
        width: 100%
        background: $white
        border: 1px solid $bottom-bor
        border-radius: 2px
        font-size: 14px
        padding: 5px 10px
        line-height: 14px
        &:focus
          color: black
          border: 1px solid $input-color
        &[disabled]
          background: $input-color

.center-container
  position: absolute
  top: 50%
  left: 50%
  transform: translate(0,-50%)
  z-index: 2
  width: 100%
  height: 100%
.img-slider-container
  img
    display: none
    width: 100%
    margin: 0
    //opacity: 0
    position: absolute
    &.active
      display: block
      opacity: 1
      z-index: 9999