<div class="source-project" *ngIf="project.model">
    <!--<div *ngIf="!project.model.link" class="source-creating col-lg-3">
        <span>Parent creating:</span>

        <form class="item-form" #createForm="ngForm" novalidate>
            <div class="input-wrap">
                <input type="text" #parentName="ngModel" name="parentName" placeholder="Parent`s Name"
                       [(ngModel)]="project.model.name" required autofocus>
                <label [class.full-op]="parentName.invalid && parentName.touched">The Parent`s Name is required!</label>
            </div>
            <div class="upload-list col-lg-12">
                <app-file-upload [title]="'Upload obj/svg'" [accept]="'.obj,.svg'" [required]="1" [category]="[]"
                                 class="col-lg-6"
                                 #modelObj></app-file-upload>
                <app-file-upload [title]="'Upload frames'" [multiple]="'multiple'" [required]="1"
                                 [category]="_CONFIG.FILE.TYPE.PREVIEW_IMG" [accept]="'image/*'"
                                 class="col-lg-6" #framesObj></app-file-upload>
            </div>

            <div class="new-btns" [hidden]="isRequsting" >
                <span class="text-btn" (click)="cancel()">cancel</span>
                <span class="right-btn text-btn" (click)="create(createForm)">create</span>
                &lt;!&ndash;<input type="submit"  class="right-btn text-btn" class="btn btn-default" value="create" />&ndash;&gt;
            </div>
        </form>

    </div>-->
    <div >
        <div class="tabs-view">
            <div class="tabs-blocks col-lg-12">
                <table class="my-table col-lg-12" style="height: calc(100vh - 95px);">
                    <tbody>
                    <tr>
                        <td class="tabs-header" [ngClass]="{'no-width':treeView.hide,'full-height':treeView.hide && sceneConfig.hide}" #treeView>
                            <div *ngIf="!treeView.hide" class="tab-header">
                                <span class="title">Project Map</span>
                                <span class="text-btn" (click)="treeView.hide=!treeView.hide">hide</span>
                            </div>
                            <img *ngIf="treeView.hide" (click)="treeView.hide=!treeView.hide"
                                 src="../assets/img/Fill 2 (1).svg">
                        </td>
                        <td class="tabs-header s-tab" [ngClass]="{'no-width':sceneConfig.hide,'full-height':treeView.hide && sceneConfig.hide}" #sceneConfig>
                            <div class="temp-header" *ngIf="!sceneConfig.hide">
                                <span class="title">Preferences</span>
                                <span class="text-btn" (click)="sceneConfig.hide=!sceneConfig.hide">hide</span>
                            </div>
                            <img *ngIf="sceneConfig.hide" (click)="sceneConfig.hide=!sceneConfig.hide"
                                 src="../assets/img/Fill 2 (1).svg">
                        </td>
                        <td class="s-tab webgl-item" rowspan="2"
                            [attr.colspan]="sceneConfig.hide && treeView.hide ?3:1">
                            <app-project-webgl-view *ngIf="selectedChild && selectedChild._category == 2"
                                                    [selected]="selectedChild" #webglEl>-----WEBGL------
                            </app-project-webgl-view>
                        </td>
                    </tr>
                    <tr *ngIf="!treeView.hide||!sceneConfig.hide">
                        <td *ngIf="!treeView.hide" [attr.colspan]="sceneConfig.hide?2:1">
                            <div class="tabs-body">
                                <div class="body-data">
                                    <tree [mainParent]="instance" [data]="project.model.data"></tree>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="!sceneConfig.hide" class="s-tab" [attr.colspan]="treeView.hide?2:1">
                            <div class="tabs-body">
                                <div class="body-data">
                                    <app-project-edit-view *ngIf="selectedChild"
                                                           [modelStructure]="selectedChild"></app-project-edit-view>
                                </div>
                            </div>

                        </td>
                        <td *ngIf="sceneConfig.hide && treeView.hide"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-projects-source-generate-node  [selectedChild]="selectedChild" #generatePopuP></app-projects-source-generate-node>

    <app-block-screen #blockScreen></app-block-screen>
</div>